/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');
html {
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Source Sans 3', sans-serif;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to left, #89f7fe 0%, #66a6ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  height: 100%;
  margin: 0;
}

/*----------- common -----------------*/
p, h4 {
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

input {
  text-align: center;
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 1);
}

button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --base-gap: 20px;
  --base-border-radius: 10px;
  --box-shadow: rgba(254, 254, 255, 0.35);
}

.box {
  padding: 10px;
  border-radius: var(--base-border-radius);
  background-color: rgba(30, 106, 246, 0.25);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 16px var(--box-shadow);
}

/* ----------- search block ---------------*/
.current-weather {
  order: 1;
}

.five-days-weather {
  order: 3;
} 

.today-weather-wrapper {
  order: 2;
}

.details {
  order: 4;
}

@media screen and (min-width: 770px) {
  .five-days-weather {
    order: 2;
  } 

  .today-weather-wrapper {
    order: 3;
  }
}

.search-wrapper {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  /* flex-shrink: 0; */
}

.search__field {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  /* max-width: fit-content; */
  max-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 1;
}

.input {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  padding: 5px 15px;
  max-width: 100%;
  width: 100%;
}

.input:focus {
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 770px) {
  .search-wrapper {
    gap: var(--base-gap);
  }
  .input {
    font-size: 24px;
    padding: 5px 15px;
    max-width: 260px;
    min-width: 200px;
    width: 100%;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1300px;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.button {
  padding: 15px;  
}

.button_search {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-image: url('./svg/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.button_close {
  width: 20px;
  height: 20px;
  font-size: 14px;
  background-image: url('./svg/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.button:active:not(:disabled) {
  transform: scale(0.95);
}

/*----------- section TODAY-WEATHER -------------*/
.today-weather-wrapper {
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
  border-radius: var(--base-border-radius);
}

.today-weather-wrapper::-webkit-scrollbar {
  background-color: transparent;
  height: 1px;
}

.today-weather {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 10px;
}

.today__step {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.step__icon {
  width: 40px;
  height: 40px;
}

.step__icon > img {
  width: 100%;
  object-fit: cover;
}

.step__hour {
  font-size: 14px;
}

@media screen and (min-width: 770px) {
  .today-weather {
    gap: 15px;
  }
  
  .today__step {
    padding: 5px;
    font-size: 26px;
  }
  
  .step__icon {
    width: 50px;
    height: 50px;
  }
  
  .step__hour {
    font-size: 18px;
  }
}

/*-----------------section FIVE-DAYS-WEATHER*/
.five-days-weather {
  order: 2;
  max-width: 360px;
  width: 100%;
  font-size: 16px;
}

.days__day {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.day__indicator {
  width: 110px;
  height: 4px;
  box-sizing: border-box;
  border-radius: 3px;
  background: linear-gradient(90deg, rgba(1,251,252,1) 0%, rgba(232,255,0,1) 100%);
  position: relative;
}

.day__indicator > div {
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-right-color: #6e6d6d;
  border-right-style: solid;
  border-left-color: #6e6d6d;
  border-left-style: solid;
  border-radius: 3px;
}
.day__icon {
  width: 50px;
  height: 50px;
}

.day__icon > img {
  width: 100%;
  object-fit: cover;
}

.day__date {
  width: 50px;
  text-align: center;
}

.day__max-temp,
.day__min-temp {
  width: 25px;
  text-align: center;
}

@media screen and (min-width: 770px) {
  .five-days-weather {
    padding: 10px 15px;
    font-size: 20px;
  }
  .day__max-temp,
  .day__min-temp {
    width: 25px;
  }
}

/*------------ section DETAILS --------------*/
.details {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.detail {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  padding: 10px 15px;
  flex-shrink: 0;
}

.detail__name {
  font-size: 12px;
  color: rgba(251, 251, 251, 0.65);
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.detail__name > div,
.current__city > div {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail__value {
  font-size: 24px;
  line-height: 28px;
}

.detail__comment {
  font-size: 10px;
}

.details__wind {
  position: relative;
}

.details__pop > h4 {
  display: flex;
  flex-wrap: wrap;
  gap: 1px 5px;
}

.details__pop > div {
  flex-shrink: 0;
}

.compass-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 100px;
  height: 100px;
}

.compass {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.compass > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.compass__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.content_wind-speed {
  font-size: 14px;
}

.content_unit {
  font-size: 10px;
  font-weight: 100;
}

.compass img {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg) opacity(1);
}

.compass img:not(.compass__arrow) {
  filter: opacity(0.4);
}

.detail__value_sunrise {
  margin: 5px 0;
}

.detail__value_sunrise,
.detail__value_sunset {
  position: relative;
}
.detail__value_sunrise::before,
.detail__value_sunset::before {
  display: block;
  height: 12px;
  width: 100%;
  position: absolute;
  top: -19px;
  right: 0;
  left: 0;
  font-size: 10px;
  color: hsla(0, 0%, 100%, 0.749);
  text-transform: uppercase;
  z-index: 3;
  text-align: right;
}
.detail__value_sunrise::before {
  content: 'Sunrise';
}
.detail__value_sunset::before {
  content: 'Sunset';
}

@media screen and (min-width: 770px) {
  .detail {
    width: 140px;
    height: 140px;
  }
 
  .detail__name {
    font-size: 14px;
  }
 
  .detail__value {
    font-size: 36px;
    line-height: 42px;
  }
 
  .detail__comment {
    font-size: 12px;
  }
    
  .compass-wrapper {
    width: 120px;
    height: 120px;
  }

  .content_wind-speed {
    font-size: 16px;
  }

  .content_unit {
    font-size: 12px;
  }

  .detail__value_sunrise::before,
  .detail__value_sunset::before {
    font-size: 12px;
  }
}

/*------------- section CURRENT ---------------*/
.current-weather {
  max-width: 300px;
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: var(--base-border-radius);
  text-align: center;
  box-sizing: border-box;
}

.current__date {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.65);
}

.current__weather-description {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin: 15px 0;
  text-transform: uppercase;
}

.current__temp {
  font-size: 48px;
  line-height: 48px;
  margin-top: 15px;
}

.current__city {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.current__city > div{
 background-image: url('./svg/map-pin.svg');
}

.temp-range {
  display: flex;
  gap: 16px;
  justify-content: center;
  position: relative;
  font-size: 12px;
}

.temp-range::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(254, 254, 255, 0.852);
}

.temp-range__max, 
.temp-range__min {
  width: 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media screen and (min-width: 770px) {
  .current__date {
    font-size: 20px;
  }
  .current__weather-description {
    font-size: 24px;
    margin: 20px 0;
  }
  .current__temp {
    font-size: 82px;
    line-height: 82px;
    margin-top: 20px;
  }

  .temp-range {
    gap: 20px;
    font-size: 16px;
  }

  .temp-range__max, 
  .temp-range__min {
    width: 50px;
    gap: 5px;
  }
}

/*---------- section ERROR BOX ------------ */
.error-msg-box {
  margin: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.error__icon-wrapper {
  width: 45px;
  height: 45px;
}

.error__icon-wrapper > img {
  width: 100%;
  object-fit: cover;
}


@media screen and (min-width: 770px) {
  .error-msg-box {
    font-size: 26px;
  }
}
